* {
  margin: 0;
  padding: 0
}

html,
body {
  overflow-y: hidden;
  font-family: 'GmarketSans';
}

body * {
  font-family: 'GmarketSans', 'Noto Sans';
}

ul,
ol,
li {
  list-style: none
}

a {
  text-decoration: none;
  color: #181818;
}

.blind {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0 0 0 0) !important;
}

@font-face {
  font-family: 'Noto Sans';
  font-weight: 900;
  font-display: fallback;
  src: local('Noto Sans Black'),
    url('../fonts/NotoSansKR-Black.otf') format('opentype');
}

@font-face {
  font-family: 'Noto Sans';
  font-weight: 700;
  font-display: fallback;
  src: local('Noto Sans Bold'),
    url('../fonts/NotoSansKR-Bold.otf') format('opentype');
}

@font-face {
  font-family: 'Noto Sans';
  font-weight: 500;
  font-display: fallback;
  src: local('Noto Sans Medium'),
    url('../fonts/NotoSansKR-Medium.otf') format('opentype');
}

@font-face {
  font-family: 'Noto Sans';
  font-weight: 300;
  font-display: fallback;
  src: local('Noto Sans Regular'),
    url('../fonts/NotoSansKR-Regular.otf') format('opentype');
}

@font-face {
  font-family: 'Noto Sans';
  font-weight: 200;
  font-display: fallback;
  src: local('Noto Sans Light'),
    url('../fonts/NotoSansKR-Light.otf') format('opentype');
}

@font-face {
  font-family: 'GmarketSans';
  font-weight: 600;
  font-display: fallback;
  src: local('GmarketSans'),
    url('../fonts/GmarketSansBold.otf') format('opentype'),
    url('../fonts/GmarketSansBold.ttf') format('truetype');
}

@font-face {
  font-family: 'GmarketSans';
  font-weight: 400;
  font-display: fallback;
  src: local('GmarketSans'),
    url('../fonts/GmarketSansMedium.otf') format('opentype'),
    url('../fonts/GmarketSansMedium.ttf') format('truetype');
}

@font-face {
  font-family: 'GmarketSans';
  font-weight: 200;
  font-display: fallback;
  src: local('GmarketSans'),
    url('../fonts/GmarketSansLight.otf') format('opentype'),
    url('../fonts/GmarketSansLight.ttf') format('truetype');
}