.swiper-button-next:after,
.swiper-button-prev:after {
    filter: grayscale(1);
    opacity: .5;
}

.swiper-button-next {
    right: 0;
}

.swiper-button-prev {
    left: 0;
}

.swiper-pagination-bullet-active {
    background: #181818;
}

.header {
    position: fixed;
    height: 100%;
    z-index: 1000;
    display: flex;
    align-items: center;
}

.header h1 {
    text-indent: -99999px;
    background: url(../images/logo_modiila.png) no-repeat;
}

h2.tit {
    font-size: 64px;
    color: #181818;
}

.wrap {
    width: 1200px;
    margin: 0 auto;
    padding: 160px 0 0 0;
}

.tit-sub {
    display: inline-block;
    font-size: 24px;
    margin: 44px 0 0 0;
}

/*토글메뉴*/
#toggle {
    position: fixed;
    top: 30px;
    right: 30px;
    width: 30px;
    height: 21px;
    cursor: pointer;
    z-index: 1000;
}

#toggle div.bar,
#toggle div.bar:before,
#toggle div.bar:after {
    width: 100%;
    height: 3px;
    background: #a9a9a9;
}

#toggle div.bar {
    position: relative;
    transform: translateY(9px);
    transition: all 0.3s 0.3s ease;
}

#toggle div.bar:before {
    content: " ";
    position: absolute;
    bottom: 9px;
    transition: bottom 0.3s 0.3s ease, transform 0.3s ease;
}

#toggle div.bar:after {
    content: " ";
    position: absolute;
    top: 9px;
    transition: top 0.3s 0.3s ease, transform 0.3s ease;
}

/* Animation */
#toggle div.bar.animate {
    background: rgba(255, 255, 255, 0);
}

#toggle div.bar.animate:after {
    top: 0;
    transform: rotate(45deg);
    transition: top 0.3s ease, transform 0.3s 0.3s ease;
}

#toggle div.bar.animate:before {
    bottom: 0;
    transform: rotate(-45deg);
    transition: bottom 0.3s ease, transform 0.3s 0.3s ease;
}

#overlay {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    max-height: 0;
    overflow: hidden;
    transition: all 0.3s ease, max-height 0s 0.6s ease;
    z-index: 100;
    opacity: 1;
    background: #f5f5f5;
}

#overlay nav {
    padding-top: 200px;
    padding-left: 200px;
}

#overlay nav ul,
#overlay nav ul li {
    margin: 0;
    padding: 0;
    display: block;
    position: static;
}

#overlay nav ul li {
    margin-bottom: 20px;
    opacity: 0;
    transition: all 0.9s 0s ease;
    margin-left: 60px;
}

#overlay nav ul li a {
    position: relative;
    height: 50px;
    display: inline-block;
    color: #ffffff;
    transition: all 0.6s 0s ease;
}

#overlay nav ul li a:after {
    content: " ";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    opacity: 0;
    height: 1px;
    background: white;
    transition: all 0.6s 0s ease;
}

#overlay nav ul li a:hover:after {
    width: 100%;
    opacity: 1;
}

#overlay nav ul li a:hover {
    color: #888888;
}

#menu-page.overlay #overlay nav ul li:nth-child(1) {
    transition: all 0.9s 0.6s ease;
}

#menu-page.overlay #overlay nav ul li:nth-child(2) {
    transition: all 0.9s 0.8s ease;
}

#menu-page.overlay #overlay nav ul li:nth-child(3) {
    transition: all 0.9s 1.0s ease;
}

#menu-page.overlay #overlay nav ul li:nth-child(4) {
    transition: all 0.9s 1.2s ease;
}

#menu-page.overlay #overlay nav ul li:nth-child(5) {
    transition: all 0.9s 1.4s ease;
}

#overlay nav ul li a {
    text-transform: normal;
    font-size: 50px;
    font-weight: 700;
    color: #000000;
    text-decoration: none;
}

#menu-page.overlay #overlay {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    max-height: 1200px;
    opacity: 1;
    z-index: 100;
    transition: all 0.3s ease;
}

#menu-page.overlay #overlay nav ul li {
    margin-left: 0;
    opacity: 1;
}

.company-info {
    padding-left: 200px;
    margin-top: 152px;
}

.company-info p span {
    display: block;
    font-size: 16px;
    color: #000;
    font-weight: 500;
    padding-top: 5px;
}

.company-info address {
    font-style: normal;
    font-weight: 500;
    margin-top: 30px;
}

/* 상단 풀다운 메뉴 스타일 */
#menu-wrap {
    width: fit-content;
    position: relative;
    left: 30px;
    top: 0px;
}

#menu-wrap>#logo h1 {
    display: none;
}

#menu-wrap #logo {
    position: relative;
    width: 1420px;
    margin: 0 auto;
    height: 80px;
}

#logo .m_logo {
    position: absolute;
    left: 50%;
    bottom: 0%;
    margin-left: -90px;
    width: 180px;
    line-height: 80px;
}

#logo .fav {
    position: absolute;
    right: 0%;
}

#menu-wrap #menu {
    margin: 0 auto;
    display: flex;
    gap: 30px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

#menu li a {
    display: inline-block;
    font-size: .8em;
    text-align: center;
    color: #999999;
}

#menu li a img {
    width: 100px;
}

#menu li a:hover {
    color: #7E76B2;
    transform: scale(1.3);
}

#menu li.on a {
    color: #7E76B2;
    transform: scale(1.3);
}

#menu-wrap .fav_box {
    position: relative;
    width: 1420px;
    margin: 0 auto;
}

.fav_box .fav {
    position: absolute;
    right: -5%;
    top: -50px;
}

.content {
    background: #EFEFEF;
}

.content .cnt01 {
    background: #EFEFEF url(../images/img-main-bg.webp) no-repeat;
    background-size: cover;
}

.cnt01 .wrap {
    position: relative;
    width: 1200px;
    margin: 0 auto;
    height: 100%;
    padding: 0;
    display: flex;
    align-items: center;
    background: url(../images/img-twincle-bg.png) no-repeat;
}

/* 메인스타일 */
.main {
    position: relative;
    display: flex;
    align-items: center;
}

.main-txt {
    width: 50%;
    padding: 0 0 0 30px;
}

.main-txt h2 {
    font-size: 3.5rem;
    letter-spacing: -.2px;
    color: #181818;
    margin: 0 0 30px 0;
    font-weight: 600;
}

.main-txt p {
    color: #181818;
    font-size: 1.5rem;
}

.main-bg {
    max-width: 53%;
    position: relative;
    display: flex;

}

.main-bg::before {
    position: absolute;
    content: '';
    width: 600px;
    height: 600px;
    background: #66cc99;
    border-radius: 50%;
}

.main-bg img {
    display: block;
    position: relative;
    top: 0%;
    left: 18%;
    width: 150%;
}

/*** intro ***/
.intro .wrap {
    width: 1200px;
    margin: 0 auto;
    padding: 163px 0;
}

.work .items {
    display: flex;
    justify-content: space-between;
    padding: 50px;
    gap: 30px;
}

.work .item {
    width: 33.3%;
    text-align: center;
}

.work .item .img {
    display: block;
    width: 100%;
    height: 400px;
    background: #fff;
    box-shadow: 0 0 23px rgba(130, 181, 168, 1);
    border-radius: 10px;
    overflow: hidden;
}

.work .item .img>img {
    display: block;
    width: 100%;
}

.work .item .txt {
    font-size: 18px;
    text-align: center;
    padding: 15px 0 0 0;
    font-weight: 400;
    display: inline-block;
    border-bottom: 3px solid #82B5A8;
}

.work.puple .item a {
    box-shadow: 0 0 23px rgba(168, 130, 181, 1);
}

.work.puple .item .txt {
    font-size: 18px;
    text-align: center;
    padding: 15px 0 0 0;
    font-weight: 400;
    display: inline-block;
    border-bottom: 3px solid #A882B5;
}

.work.access .items {
    padding: 50px 0;
}

.cnt06 .wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.cnt06 .wrap p {
    font-size: 72px;
    font-weight: 600;
    color: #fff;
    text-shadow: 0 0 24px rgba(214, 68, 68, 1);
}