@import "./mixin";

.page {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}

.header {
    position: fixed;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 30px;
    background-color: #000;
    // pointer-events: none;
    box-sizing: border-box;
    z-index: 10;

    &.on {
        width: 45%;
        transition: width 1.5s cubic-bezier(.23, 1, .32, 1) 1s;
    }
}

.nav {
    position: absolute;
    top: 5%;
    right: 0;

    &-list {
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: flex-end;
    }

    .item {
        display: flex;
        width: 54px;
        height: 85px;
        background: rgba(209, 213, 159, .9);
        font-size: 11px;
        color: rgba(255, 255, 255, .5);
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        justify-content: center;
        align-items: center;
        box-sizing: border-box;

        &:hover {
            background: rgba(209, 213, 159, 1);
            color: rgba(255, 255, 255, 1);
        }

        &.active {
            width: 60px;
            font-size: 12px;
            background: rgba(255, 255, 255, 1);
            color: rgba(209, 213, 159, 1);
            border: 4px solid #d1d59f;
            border-right: none;
        }

    }


}

.content {
    width: 55%;
    margin-left: 45%;
    height: 100vh;

    .section {
        position: relative;
        width: 100%;
        height: 100vh;
        background: #fff;
    }
}